* {
    box-sizing: border-box;
}

body {
    margin-left: 2rem;
}

.hidden {
    display: none;
}

.img-result {
    max-width: 200px;
    height: auto;
    margin: 1rem;
    border: 3px black solid;
}

.dog-img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}